
<div class="sticky-sidebar">
  <div class="title">
    This Mortal Coil of <br>
    <h1> Bugs and Errors </h1>
  </div>
</div>

<div class="links">
  <tr>
    <td><%= link_to 'Home', controller: 'articles' %></td>
    <td><%= link_to 'Admin', controller: 'articles', action: 'admin' %></td>
  </tr>
</div>

