
<div class="container">
  <div class="spacer"></div>
  <div class="blog">

    <div id="main" class="display-panel content">

      <% @articles.each do |article| %>

        <div class="entry">
          <%= link_to article_path(article) do %>
            <div class="title"> <%= article.title %> </div>
          <% end %>
          <div> <%= render inline: parseText(article.text[0..200].gsub(/\s\w+\s*$/, '...')) %> </div>
        </div>

      <% end %>
    </div>

  </div>
</div>

<%= render 'sidebar' %>

