
<div class="container">
  <div class="spacer"></div>
  <div class="blog">

    <div id="show" class="content">
      <p class="title"> <%= @article.title %> </p>
      <div class="text">
        <%= render inline: @parsed_text %> 
      </div>
      <%= link_to 'Back', articles_path %>
    </div>

  </div>
</div>

<%= render 'sidebar' %>

